/* Estilos para el documento de modificación de ascensor */

/* Reset y configuración base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'EB Garamond', serif;
    font-size: 12pt;
    line-height: 1.15;
    color: #000000;
    background-color: #ffffff;
    padding: 20pt;
    max-width: 451.4pt;
    margin: 0 auto;
}

@page {
    size: A4;
    margin: 120pt 50pt 80pt 50pt; 

    @top-center {
        content: element(header);
    }

     @bottom-center {
        content: element(footer);
     }
}

.new-page {
    page-break-before: always;
}

.no-break {
    page-break-inside: avoid;
}

.header {
    position: running(header);
}

.signature {
    position: running(footer);
}

.page-1 {
    margin-bottom: 0;
}

.page-2 {
    margin-top: 0;
}

.page-3 {
    margin-top: 0;
}

.declaration-section {
    page-break-inside: avoid;
}

.technical-sheet {
    page-break-inside: avoid;
}

.modifications {
    page-break-inside: avoid;
}

/* Contenedor principal */
.document {
    background-color: #ffffff;
    padding: 0;
}

/* Header */

.header-table {
    width: 100%;
    border-collapse: collapse;
}

.rae-cell {
    padding: 5pt;
    border: 1.5pt solid #000000;
    width: 142.5pt;
    vertical-align: top;
}

.empty-cell {
    padding: 5pt;
    border: 1.5pt solid #ffffff;
    border-right: 1.5pt solid #000000;
    width: 140.2pt;
    vertical-align: top;
}

.expediente-cell {
    padding: 5pt;
    border: 1.5pt solid #000000;
    width: 169.5pt;
    vertical-align: top;
    text-align: right;
}

/* Secciones */
.section {
    margin-bottom: 20pt;
}

.section h2 {
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: 3pt;
    color: #000000;
}

/* Tablas de datos */
.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15pt;
    border: 1.5pt solid #000000;
    table-layout: fixed;
}

.data-table td {
    padding: 2.2pt;
    border: none;
    vertical-align: top;
}

.data-table .label {
    width: 45pt;
    font-weight: normal;
}

.data-table .value {
    width: 243pt;
    overflow: hidden;
    white-space: nowrap;
}

.data-table .label-right {
    width: 28.5pt;
    text-align: right;
    font-weight: normal;
}

.data-table .value-right {
    width: 75.5pt;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
}

/* Texto introductorio */
.intro-text {
    margin: 20pt 0;
}

.intro-text p {
    text-align: justify;
    margin-bottom: 20pt;
}

/* Tabla de modificaciones */

.modifications-table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    /*table-layout: fixed;*/
}

.modifications-table td {
    padding: 2.2pt;
    padding-left: 10pt;
    vertical-align: top;
    /*width: 50%;*/
}

.modification-item-content {
    display: flex;
    align-items: center;
    gap: 4pt;
}

.custom-checkmark {
    width: 10pt;
    height: 10pt;
    border: 1pt solid #666666;
    border-radius: 2pt;
    background-color: #ffffff;
}

.custom-checkmark-checked {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666666;
    font-size: 10pt;
    font-weight: bold;
}

.modification-item-content label {
    cursor: pointer;
    font-weight: normal;
    
    
}




/* Sección de declaración */


.declaration-header {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 35pt;
}

.declaration-title {
    padding: 2.2pt;
    background-color: #b7b7b7;
    border: 1pt solid #b7b7b7;
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
}

.declaration-data {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20pt;
    table-layout: fixed;
}

.declaration-data td {
    padding: 2.2pt;
    border: none;
    vertical-align: top;
    height: 25pt;
}

.declaration-label {
    width: 85pt;
    font-weight: normal;
}

.declaration-value {
    width: 190pt;
    overflow: hidden;
    white-space: nowrap;
}

.declaration-label-right {
    width: 65pt;
    text-align: left;
}

.declaration-value-right {
    width: 40pt;
    overflow: hidden;
    white-space: nowrap;
}

.declaration-text {
    margin-top: 15pt;
    margin-bottom: 10pt;
}

.declaration-process {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20pt;
    
}

.declaration-process td {
    padding: 10pt;
    padding-left: 10pt;
    border: none;
    vertical-align: top;

}


/* Anexos */
.annexes {
    width: 100%;
    border-collapse: collapse;
    margin: 15pt;
    margin-bottom: 50pt;
}

.annexes td {
    padding: 2.2pt;
    border: none;
    vertical-align: top;
    width: 150.5pt;
}

.annex ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.annex-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4pt;
}

.annex li:before {
    content: "•";
    position: absolute;
    left: -17.9pt;
}

.annex-arrow {
    text-align: center;
    height: 60pt;
    vertical-align: middle;
    padding: 5pt;
}

.vertical-arrow {
    width: 1pt;
    height: 50pt;
    background-color: #000000;
    margin: 0 auto;
    position: relative;
}

.vertical-arrow::before {
    content: "";
    position: absolute;
    bottom: -3pt;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 2pt solid transparent;
    border-right: 2pt solid transparent;
    border-top: 6pt solid #000000;
}

/* Información adicional */
.legalization-process-on {
    width: 100%;
    border-collapse: collapse;
    margin: 20pt 0;
    table-layout: fixed;
}

.legalization-process-on td {
    padding: 10pt;
    padding-left: 10pt;
    height: 20pt;
    border: none;
    vertical-align: top;
}

/* Ficha técnica */

.technical-header {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10pt;
}

.technical-title {
    padding: 2.2pt;
    background-color: #b7b7b7;
    border: 1pt solid #b7b7b7;
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
}

.technical-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10pt;
    border: 1.5pt solid #000000;
    table-layout: fixed;
}

.technical-table td {
    padding: 2.2pt;
    border: none;
    vertical-align: top;
    overflow: hidden;
    white-space: nowrap;
}

.technical-table td.tech-item {
    border: 1pt solid #000000;
}

.tech-label {
    border: none;
}
.row-section-title {
    border: 1.5pt solid #000000;
}

.section-title {
    background-color: none;
    text-align: center;
    font-weight: bold;
    font-size: 10pt;
    padding: 5pt;
}

.section-subtitle {
    background-color: none;
    text-align: center;
    font-weight: normal;
    font-size: 10pt;
    padding: 0;
}

.tech-label {
    border: none;
}

.tech-value {
    border: none;
}

/* Componentes de seguridad */
.safety-components {
    width: 100%;
    border-collapse: collapse;
    margin: 10pt 0;
    table-layout: fixed;
    border: 1.5pt solid #000000;
}

.safety-components td.section-title {
    vertical-align: middle;
}

.safety-components td.section-subtitle {
    vertical-align: top;
}

.safety-components tr:first-child {
    border: 1.5pt solid #000000;
}

.safety-components td {
    padding: 2.2pt;
    border: 1pt solid #000000;
    vertical-align: top;
    
}

.safety-label {
    width: 267pt;
    font-weight: normal;
}

.safety-value {
    width: 255.8pt;
    overflow: hidden;
    white-space: nowrap;
}

/* Observaciones */
.observations {
    width: 100%;
    border-collapse: collapse;
    margin: 10pt 0;
    table-layout: fixed;
    border: 1.5pt solid #000000;
}

.obs-title {
    padding: 2.2pt;
    background-color: none;
    border: 1.5pt solid #000000;
    text-align: center;
    font-weight: bold;
    font-size: 10pt;
}

.obs-content {
    padding: 2.2pt;
    border: 1pt solid #000000;
    height: 40pt;
    vertical-align: top;
}

/* Firma */
.signature-table {
    width: 100%;
    border-collapse: collapse;
}

.signature-table td {
    padding: 2.2pt;
    border: none;
    vertical-align: top;
}

.signature-label {
    font-size: 12pt;
    font-weight: bold;
    width: 306.7pt;
}

.date-label {
    font-size: 12pt;
    font-weight: bold;
    width: 143.3pt;
}

/* Estilos para texto */
strong {
    font-weight: bold;
}

/* Responsive */

@media print {
    body {
        padding: 0;
        max-width: none;
    }
    
    .document {
        padding: 0;
    }
}
    
/*
@media screen and (max-width: 768px) {
    body {
        padding: 20pt;
        font-size: 10pt;
    }
    
    .header-table,
    .data-table,
    .modifications-table,
    .declaration-data,
    .declaration-process,
    .annexes,
    .additional-info,
    .technical-table,
    .safety-components,
    .observations,
    .signature {
        font-size: 9pt;
    }
}
